@charset "utf-8";
/* CSS Document */

/*清除默认样式*/
body, div, dl, dt, dd, ul, ol, nl, li, h1, h2, h3, h4, h5, h6, p, span, a, b, strong, object, iframe, label, img, select, form, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0;padding:0}
body{font-size:12px;font-family:'微软雅黑';}
.left{float:left;_display:inline;}
.right{float:right;_display:inline;}
.clear:after{content:"";clear:both;display:block;}
.clear{zoom:1;}
a{text-decoration:none;font-size:12px;color:#000;}
a:hover{text-decoration:underline;color:#4bb4c8;}
span{font-size:12px;}
li{list-style:none;}
img{border:none 0; vertical-align:middle;}
input{vertical-align:middle;}
.col_f{color:#fff;}
.col_0{color:#000;}
.col_3{color:#333;}
.col_6{color:#666;}
.f_14{font-size:14px;}
.f_16{font-size:16px;}
.t_center{text-align:center;}
.t_right{text-align:right;}
.t_left{text-align:left;}
.t_2em{text-indent:2em;}
.col_58b0d5{color:#58b0d5;}
.hov:hover{color:#4bb4c8;}

/*头部*/
.header{width:100%;height:150px;padding-bottom:1px;}
.header_top{width:990px;height:100px;margin:0px auto;}
.header_bottom{width:100%;height:100px;margin:0px auto;background:url(../images/nav_bj.png) repeat-x scroll left top;}
.logo{width:160px;height:62px;overflow:hidden;padding-top:25px;}
.serviceHotline{height:40px;line-height:20px;padding:33px 0px 0px 30px;background:url(../images/dianhua.png) no-repeat scroll 0px 39px;}
.serviceHotlinefont1{font-size:14px;color:#5e5e5e;}
.serviceHotlinefont2{font-size:18px;color:#2fa9c0;}
.navBox{width:990px;height:50px;margin:0px auto;}
.nav{width:1080px;height:50px; white-space:nowrap;}
.nav_li{height:50px;line-height:50px;text-align:center;padding-right: 27px;position:relative;}
.nav_a{display:inline-block;width:80px;font-size:16px; font-weight:bold;color:#3f3f3f;padding:0px 10px;height:50px;}
.nav_a.active,.nav_a:hover{color:#2fa9c0;border-top:2px solid #2fa9c0;height:50px;line-height:47px;text-decoration:none;}
.nav_li ul{display:none;position:absolute;top:48px;left:0px;white-space:nowrap;background:#fff;height:40px;line-height:40px;z-index: 100;border-radius: 0px 0px 4px 4px;}
.nav_li ul li{display:inline-block;padding:0px 10px;text-align:center;line-height:40px;}
.nav_li ul li a{font-size:14px;color:#3f3f3f;}
.nav_li ul li a.active,.nav_li ul li a:hover{color:#2fa9c0;}

/*banner*/
.homeBanner{position:relative;width:100%;height:437px;text-align:center;overflow:hidden;}
.homeBannerImgBox{width:1409px;height:437px;text-align:center;overflow:hidden;position: relative;  left: 50%; margin-left: -705px;}
#bannerScrollUl{display:inline-block;width:10000px; height:437px;white-space:nowrap;position:absolute;top:0px;left:0px;}


.homeBannerBtnBox{position:absolute;left:0px;bottom:0px;width:100%;text-align:center;padding-bottom:10px;}
.homeBannerBtn{display:inline-block;width:34px;height:6px;background:#fff;margin:0px 2px;}
.homeBannerBtn.on{background:#2fa9c0;}
.towBanner{width:100%;height:277px;padding-bottom:1px;text-align:center;overflow:hidden;}
.towBannerBox{width:1920px;height:277px;text-align:center;overflow:hidden;position: relative;  left: 50%; margin-left: -960px;}
/*中间*/
.main{width:990px;height:auto;margin:30px auto; min-height:100px;}
.mainLeft{width:246px;height:auto;min-height:100px;background:url(../images/leftcenterBj.png) repeat-y scroll 0px 0px;}
.sidebar_title{width:246px;height:60px;background:url(../images/leftTopBj.png) no-repeat scroll 0px 0px;line-height:74px;text-indent:56px;}
.sidebar_titleStrong{font-size:18px;color:#000;}
.sidebar_main{width:246px;height:auto;min-height:220px;}
.sidebar_footerBj{width:246px;height:12px;background:url(../images/leftBottomBj.png) no-repeat scroll 0px 0px;}
.sidebarUl{width:206px;height:auto;margin:0px auto 22px;}
.sidebarLI{padding-top:22px;}
.sidebar_a{display:block;width:206px;height:34px;line-height:34px;text-align:center;font-size:14px;color:#666;}
.sidebar_a.active,.sidebar_a:hover{background:url(../images/sidebarBj.png) no-repeat scroll 0px 0px;color:#fff;text-decoration:none;}
.mainRight{width:712px;height:auto;min-height:100px;}
.mainRight_title{width:100%;height:44px;line-height:44px;border-bottom:1px solid #e1e1e1;margin-bottom:10px;}


/*底部*/
.footerBj{width:100%;height:100px;background:#f3f3f3;}
.footer{width:990px;height:100px;margin:0px auto;}
.footer_l{padding-top:32px;line-height:24px;}
.footer_r{line-height:100px;}





/*右侧浮动*/
.rightNav{ width:54px; position:fixed; right:25px; bottom:20px;}
.rightNav li{ height:54px; margin-bottom:5px; background-color:#85c2f2;}
.rightNav li a{ display:block; height:54px; line-height:22px; text-align:center; color:#fff; font-size:16px;}
.rightNav li a:hover{ background-color:#3499ea;}
.rightNav li a img{ margin-top:19px;}
.rightNav li.text a{ height:50px; padding:4px;}
#goTop{ display:none;}






















